.mainInfo {
  color: white;
  margin-top: 1rem;
  width: 31rem;
  background-color: #262522;
  border-radius: 5px;
}

.nickname {
  font-weight: bold;
}

.historyLine {
  display: flex;
  flex-direction: column;
  height: 70vh;
  overflow: auto;
}

.historyCouple {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
