body {
  background-color: #302e2b;
  color: white;
}
.main {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(
    10,
    auto
  ); /* You can adjust the number of columns as needed */
  grid-template-rows: repeat(10, 1fr); /* Use fractional units for rows */
  width: calc(85vh * (10 / 10));
  height: 85vh; /* Set height to 100% of viewport height */
  padding: 0%;
  margin: 0%;
}

.gridPlayer {
  display: grid;
  grid-template-columns: repeat(10, 25px);
  grid-template-rows: repeat(10, 25px);
  padding: 0%;
  margin: 0%;
}
.cell {
  background-color: #b0e9fc;
  text-align: center;
  line-height: 50px;
  margin: 0%;
  padding: 0%;
  user-select: none;
  background-repeat: no-repeat;
  background-size: contain;

  background-image: url("/assets/Tiles/tile_73.png");
}

.isBorder {
}

.occupied {
  background-color: red; /* Change color to the desired one */
}

.hit {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/assets/Effects/explosion1.png");
}

.miss {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/assets/Tiles/tile_miss.png");
}

.map {
  display: flex;
  flex-direction: column;
  position: relative;
  height: fit-content;
}

.splash {
  background-color: #333;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu {
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  text-align: center;
}

.menu legend {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.menu h1 {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.difficulty {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.difficulty div {
  margin: 0 10px;
}

.difficulty label {
  font-size: 1.2rem;
  cursor: pointer;
}

.playButton,
.leaderboardButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.playButton:hover,
.leaderboardButton:hover {
  background-color: #0056b3;
}
.mapPlayer {
  width: 300px;
  height: 300px;
}

.mapGrid {
  width: fit-content;
  height: fit-content;
  margin: 1rem;
}

.ship {
  background-color: red;
  background-image: none;
}
