@page "/leaderboard"
@attribute [Authorize]

@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using BattleShip.Models.DTO.Output;

@inject HttpClient Http


<link rel="stylesheet" href="css/leaderboard.css">



<p></p>
<div class="leaderboard">
    <h1>Leaderboard</h1>
    @for (int i = 0; i < @Leaderboards.Length; i++)
      {
        int index = i;
        <div class="leaderboard-item">
            <div class="leaderboard-item-name">@Leaderboards[index].Name</div>
            <div class="leaderboard-item-score">@Leaderboards[index].Score</div>
        </div>
      }
</div>
@code{


    protected LeaderBoardOutput[] Leaderboards;
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            Leaderboards = await Http.GetFromJsonAsync<LeaderBoardOutput[]>("leaderboard");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
