@page "/"

<link rel="stylesheet" href="css/grid.css">


<div class="splash">
  <div class="menu">
    <h1>BattleShip</h1>
    
      <div class="difficulty">
        <label for="pseudo">Votre pseudo</label>
        <input type="text" id="pseudo" name="pseudo" value="" @onchange="PseudoChanged">
      </div>
    <legend>Difficulté</legend>
<div class="difficulty">
      <div>
        <input type="radio" id="easy" name="difficulty" value="easy" checked="@IsEasyChecked" @onchange="RadioChanged">
        <label for="easy">Facile</label>
      </div>
      <div>
        <input type="radio" id="hard" name="difficulty" value="hard" checked="@IsHardChecked" @onchange="RadioChanged">
        <label for="hard">Difficile</label>
      </div>
    </div>    <div>
      <button @onclick="NavigateToGame" class="playButton">Jouer</button>
      <button @onclick="NavigateToLeaderboard" class="leaderboardButton">Leaderboard</button>
    </div>
  </div>
</div>


@code{

    [Inject]
    private NavigationManager NavigationManager { get; set; }

    private string difficulty = "easy"; // Default value
    private string pseudo = "";
    private bool IsEasyChecked => difficulty == "easy";
    private bool IsHardChecked => difficulty == "hard";

        // Method to handle radio change event
    private void RadioChanged(ChangeEventArgs e)
    {
        difficulty = e.Value.ToString();
    }


    private void PseudoChanged(ChangeEventArgs e){
      pseudo = e.Value.ToString();
    }

    // Method to navigate to another page
    private void NavigateToGame()
    {
        // Navigate to the desired page
        NavigationManager.NavigateTo($"/game/{difficulty}/{pseudo}");
    }

    private void NavigateToLeaderboard(){

      NavigationManager.NavigateTo($"/leaderboard");
    }

}
